<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-body"><%= image_tag("one.jpg", class: "img-responsive") %></div>  
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-danger">
        <div class="panel-body"><%= image_tag("two.jpg", class: "img-responsive") %></div>  
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-body"><%= image_tag("three.jpg", class: "img-responsive") %></div>  
      </div>
    </div>
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-body"><%= image_tag("four.jpg", class: "img-responsive") %></div>  
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-danger">
        <div class="panel-body"><%= image_tag("five.jpg", class: "img-responsive") %></div>  
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-body"><%= image_tag("six.jpg", class: "img-responsive") %></div>  
      </div>
    </div>
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-body"><%= image_tag("seven.jpg", class: "img-responsive") %></div>  
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-danger">
        <div class="panel-body"><%= image_tag("eight.jpg", class: "img-responsive") %></div>  
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-body"><%= image_tag("nine.jpg", class: "img-responsive") %></div>  
      </div>
    </div>
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-body"><%= image_tag("ten.jpg", class: "img-responsive") %></div>  
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-danger">
        <div class="panel-body"><%= image_tag("eleven.jpg", class: "img-responsive") %></div>  
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-body"><%= image_tag("twelve.jpg", class: "img-responsive") %></div>
      </div>
    </div>
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-body"><%= image_tag("thirteen.jpg", class: "img-responsive") %></div>  
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-danger">
        <div class="panel-body"><%= image_tag("fourteen.jpg", class: "img-responsive") %></div>  
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-body"><%= image_tag("fifteen.jpg", class: "img-responsive") %></div>  
      </div>
    </div>
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-body"><%= image_tag("sixteen.jpg", class: "img-responsive") %></div>  
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-body"><%= image_tag("seventeen.jpg", class: "img-responsive") %></div>  
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-body"><%= image_tag("eighteen.jpg", class: "img-responsive") %></div>  
      </div>
    </div>
  </div>
</div><br><br>